*.sw[opnm]
.DS_Store
/.virtualenv
.ipynb_checkpoints
*.pyc
parser/
/stanford-corenlp-*
*.db*
*.txt
*.json
*.tsv
downloads/
*.model_kwargs
**/checkpoint
**/checkpoints/
__pycache__
*corenlp.log

# Sphinx
docs/_build

# PyCharm
.idea

# TF models
*.info
*.meta
*.data*
*.index

# Embedding models
*.mm

# Jupyter notebook output
MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/i18n/*/LC_MESSAGES/*.mo
notebook/i18n/*/LC_MESSAGES/nbjs.json
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
src

*.swp
*.map
.idea/
Read the Docs
config.rst

/.project
/.pydevproject

# Tutorial
tutorials/cdr/data/CDR*.BioC.xml
tutorials/cdr/data/dicts

tutorials/intro/data/articles-dev.tsv
tutorials/intro/data/articles-test.tsv
tutorials/intro/data/articles-train.tsv
tutorials/intro/data/gold_labels.tsv

tutorials/tables/data/hardware/
